@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto;
  font-weight: Absolute;
  font-style: normal; */
}
/* table {
  border: 1px solid black;
  border-collapse: collapse;
}
table td {
  border: 1px solid black;å
  padding: 5px 10px;
}
table td:first-child {
  font-weight: 600;
}
form {
  width: 250px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.select-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */
body {
  width: 100vw;
  height: 100vh;
  background-color: #fc427b;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  color: #fff;
  text-align: center;
}
div h3 {
  font-size: 20px;
  font-weight: 500;
}
div button {
  border: none;
  background-color: antiquewhite;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}
b {
  color: black;
  background-color: bisque;
  border-radius: 50%;
  padding: 5px;
}
